<%= form_with(model: booking, local: true) do |form| %>
  <div class="row">
      <% if booking.errors.any? %>
        <div id="error_explanation" class="alert alert-danger fade in">
          <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

          <ul>
          <% booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="col-sm-4">
     

      <div class="field form-group">
        <div class="control">
        <%#= form.label :user_id %>
        <%= form.hidden_field :user_id, value: current_user.try(:id), class: "input form-control" %>
        </div>
      </div>

      <div class="field form-group">
        <div class="control">
        <%= form.label :meeting_room_id %>
        <%= form.select :meeting_room_id, MeetingRoom.where("true").collect{ |r| [ r.name, r.id]},{},class: "input form-control", prompt: "Select Room" %>
        </div>
      </div>


          <div class="field form-group">
            <div class="control">
    `         <%= form.label :start_date %>
              <div class='input-group date' id='datetimepicker1'>
                <%= form.text_field :start_date, class: "input form-control" %>
                <!-- <input type='text' class="form-control" /> -->
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
      
        </div>
      </div>

      <div class="field form-group">
        <div class="control">
        <%= form.label :duration %>
        <%= form.number_field :duration, class: "input form-control" %>
       </div>
      </div>

      <div class="field form-group">
      <div class="control">
        <%= form.submit :submit, class: "button is-link btn btn-info" %>
      </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY hh:mm A',
        daysOfWeekDisabled: [0, 6]
      });
    });
</script>