<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting room:</strong>
  <%= @booking.meeting_room.try(:name).try(:humanize) %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.username.try(:humanize) %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
