
<%= form_tag add_role_roles_path, {method: :post} do %>
  <div class="row">
      <% if @user_role.errors.any? %>
        <div id="error_explanation" class="alert alert-danger fade in">
          <h2><%= pluralize(@user_role.errors.count, "error") %> prohibited this role from being saved:</h2>

          <ul>
          <% @user_role.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
 
    <div class="col-sm-4">
      <div class="field form-group">
        <div class="control">
        <%= label_tag :user_id %>
        <%= select_tag :user_id, options_for_select(@selected_users), class: "input form-control", prompt: "Select User" %>
      </div>

      <div class="field form-group">
        <div class="control">
        <%= label_tag :role_id %>
        <%= select_tag :role_id, options_for_select(@roles) ,class: "input form-control", prompt: "Select Role" %>
      </div>

      <div class="field form-group">
        <div class="control">
        <%= submit_tag :submit, class: "button is-link btn btn-info" %>
      </div>

      <%= link_to 'Back', user_roles_details_roles_path %>
  </div>
</div>
<% end %>


